<section class="users-show">
  <div>
    <img src="<%= @user.photo %>" />
    <h1><%= @user.name %></h1>
    <p>Number of posts: <%= @user.posts_counter || 0 %></p>
    <h3>Bio:</h3>
    <p><%= @user.bio %></p>
  </div>
</section>

<div>
  <% @user.recent_posts.each do |post| %>
    <div class="posts">
      <h1>Post: <%= post.title %></h1>
      <p><%= post.text %></p>
      <div>
        <span>Comments: <%= post.comments_counter || 0 %></span>
        <span>Likes: <%= post.likes_counter || 0 %></span>
      </div>
    </div>
  <% end %>
  
  <% if @user.posts.any? %>
    <% post = @user.posts.first %>
    <%= link_to "Show Post", post_path(post), {:class => "see_all_post"}%>
  <% end %>
  
  <button><%= link_to "See all posts", user_posts_path(@user) %></button>
</div>
