<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="intro-wrap">
  Here Ok
  <div class="field1">
   
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "User name", :class=>"input-inf" %>
  </div>

  <div class="field1">
    
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", :class=>"input-inf" %>
  </div>

    <%= f.submit "Log in", :class=>"input-inf" %>
 </div>
<% end %>

<%= render "devise/shared/links" %>

