<div>
  <%= link_to 'Home', root_path %>
</div>
<p>
  <%= image_tag @user.photo, alt: @user.name %>
</p>
<h2>User name: <%= @user.name %></h2>
<h3>Total posts: <%= @user.posts_counter %></h3>
<% @posts.each do |post| %>
  <h3>Post id: <%= post.id %></h3>
  <h4><%= post.title %></h4>
  <p><%= post.text %></p>
  <h3>Comments</h3>
  <% post.recent_comments.each do |comment| %>
    <p class="comment"><%= comment.text %></p>
    <% if comment.author %>
      <p>Comment author: <%= comment.author.name %></p>
    <% else %>
      <p>Comment author: Anonymous</p>
    <% end %>
  <% end %>
  <p id="comments_post_<%= post.id %>">Number of comments: <%= post.comments_counter %></p>
  <% if post.comments_counter > 5 %>
    <%= render partial: 'pagination', locals: { posts: @posts } %>
  <% end %>
  <p id="likes_post_<%= post.id %>">Number of likes: <%= post.likes_counter %> </p>
  <%= link_to 'Create a New Post', new_user_post_path(@user) %>
<% end %>
